aiocoap==0.4.1
bitlist==0.3.1
cbor2==5.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
Cython==0.29.23
DTLSSocket==0.1.12
fe25519==0.2.0
filelock==3.0.12
fountains==0.2.1
ge25519==0.2.0
idna==2.10
LinkHeader==0.4.3
parts==1.0.2
pkg-resources==0.0.0
pycparser==2.20
Pygments==2.9.0
requests==2.25.1
termcolor==1.1.0
urllib3==1.26.4
websockets==9.0.1
